<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="contenu__dashboard">

		<span class="contenu__title">Dashboard</span>

		<div class="contenu__split">

			<div class="contenu__panel">

				<span class="contenu__header">Get Started</span>

				<span>Thanks for choosing <strong>Contenu</strong> as your CMS! To get started, please add an <code>index.html</code> file to the <code>www</code> folder via FTP, SCP, or the <a href="/admin/source">Source Control</a> page.</span>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Latest Changes</span>

				<ul>

					<li>Initial Release!</li>
					<li>Fully functional users, elements, and templates along with full API integration.</li>

				</ul>

			</div>

		</div>
		
	</div>

</body>
</html>
