<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Dashboard</h1>

		<div class="split">

			<div class="panel">

				<h2>Get Started</h2>

				<span>Thanks for choosing <strong>Contenu</strong> as your CMS! To get started, please add an <code>index.html</code> file to the <code>www</code> folder via FTP, SCP, or the <a href="/admin/source">Source Control</a> page.</span>

			</div>

			<div class="panel">

				<h2>Latest Changes</h2>

				<ul>

					<li>UI redesign</li>
					<li>New plugin API</li>
					<li><strong>NOTE</strong> At this time, <code>Author</code> and <code>Admin</code> users have the same permission levels.</li>

				</ul>

			</div>

		</div>
		
	</div>

</body>
</html>
