<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Contenu</title>

<link rel="prefetch" href="/admin/static/themes/<%- cookies.theme || "light" %>.less">
<link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js">

<link id="theme" rel="stylesheet/less" type="text/css" href="/admin/static/themes/<%- cookies.theme || "light" %>.less">
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
<script src="/admin/static/js/app.js"></script>
<script src="/admin/static/js/editor.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
