<div class="menu_wrapper">

	<div class="menu">

		<div class="items">

			<a href="/admin"><i data-feather="clipboard"></i> <span>Dashboard</span></a>
			<a href="/admin/source"><i data-feather="git-merge"></i> <span>Source</span></a>
			<a href="/admin/data"><i data-feather="database"></i> <span>Data</span></a>
			<a href="/admin/elements"><i data-feather="box"></i> <span>Elements</span></a>
			<a href="/admin/plugins"><i data-feather="file-plus"></i> <span>Plugins</span></a>
			<a href="/admin/settings"><i data-feather="settings"></i> <span>Settings</span></a>
			<a onclick="document.cookie='token=; path=/admin;'; location.reload();"><i data-feather="log-out"></i> <span>Logout</span></a>

		</div>

	</div>

</div>
