<div class="contenu__menu">

	<span class="contenu__brand">Contenu</span>	

	<div class="contenu__menu__items">

		<a href="/admin">Dashboard</a>
		<a href="/admin/source">Source Control</a>
		<a href="/admin/data">Data Management</a>
		
	</div>

</div>
