<div class="contenu__menu">

	<span class="contenu__brand">Contenu</span>	

	<div class="contenu__menu__items">

		<a href="/admin">Dashboard</a>
		<a href="/admin/source">Source Control</a>
		<a href="/admin/data">Data Management</a>
		<a href="/admin/elements">Elements</a>
		<a href="/admin/plugins">Plugins</a>
		<a href="#" onclick="document.cookie='token=;path=/admin'; location.reload();">Log Out</a>

	</div>

</div>
