<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Plugins</h1>

		<p>Plugins allow users to add extra features to the CMS.</p>

		<% for (const plugin of plugins) { %>
		
			<div class="panel">

				<h2><%= plugin.package().name %></h2>

				<p>

					<strong>Version</strong> <%= plugin.package().version || "Unknown" %> <br>
					<strong>Author</strong> <%= plugin.package().author.name || "Unknown" %>

				</p>

				<%- plugin.html_description() %>

			</div>

		<% } %>

	</div>

</body>
</html>
