* {

	outline: none !important;

}

a {

	color: @url_foreground;

}

code {

	font-family: 'Courier New', Courier, monospace;

}

h1, h2, h3, h4, h5, h6 {

	margin-top: 0;

}

.headers-generator(@n; @i : 1) when (@i =< @n) {
	
	h@{i} {
	
		font-size: (3em - (@i - 1) * 0.8);
	
	}

	.headers-generator(@n; (@i + 1));

}

.headers-generator(6);

input[type="text"], input[type="password"], input[type="search"], input[type="url"], input[type="email"], textarea {

	display: inline-block;

	border: none;
	border-radius: @text_input_radius;

	padding: @text_input_spacing;

	color: @text_input_foreground;
	font-size: 13px;
	font-family: @body_font;
	font-weight: 900;
	vertical-align: middle;

	background-color: @text_input_background;

	&::placeholder {

		color: fade(@text_input_foreground, @fade);
		font-family: @body_font;

	}

	&:hover, &:active, &:focus {

		background-color: darken(@button_background, @darken);

	}

	transition: @transition;

}

button, .btn, input[type="submit"] {

	display: inline-block;

	border: none;
	border-radius: @button_radius;

	padding: @button_spacing;

	color: @button_foreground;
	font-size: 13px;
	font-family: @body_font;
	font-weight: 900;
	text-decoration: none;

	background-color: @button_background;

	&:hover, &:active, &:focus {

		background-color: darken(@button_background, @darken);

	}

	cursor: pointer;
	transition: @transition;

}

.select {

	display: block;

	font-size: 0;
	
	&>input {

		display: none;

	}

	&>div {

		display: inline-block;

		padding: @select_spacing;

		color: @select_foreground;
		font-size: 13px;
		font-weight: 900;

		background-color: @select_background;

		&:nth-child(2) {

			border-top-left-radius: @select_radius;
			border-bottom-left-radius: @select_radius;

		}

		&:last-child {

			border-top-right-radius: @select_radius;
			border-bottom-right-radius: @select_radius;

		}

		&[selected], &:hover, &:active, &:focus {

			background-color: darken(@select_background, @darken);
	
		}

		cursor: pointer;
		transition: @transition;

	}

}
