.editor {	

	position: fixed;

	top: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	&.shown {

		display: block;

	}

	&>.close {

		position: absolute;

		color: @editor_foreground;

		top: 20px;
		right: 20px;

		cursor: pointer;

	}

	&>textarea {

		float: left;

		display: block;

		border-radius: 0;

		width: 50%;
		height: 100%;

		color: @editor_foreground;
		font-weight: 400;
		font-family: @editor_font;

		background-color: @editor_background;

		resize: none;
		
	}

	&>.preview {

		float: right;

		display: block;

		padding: @editor_preview_spacing;

		width: 50%;
		height: 100%;

		color: @editor_preview_foreground;
		font-family: @editor_preview_font;

		background-color: @editor_preview_background;
		
		& * {

			color: @editor_preview_foreground;

		}

		overflow: auto;

	}

	z-index: 100;

}
