<h2>Contenu Editor</h2>

<div class="editor">

	<div class="close" onclick="this.parentElement.classList.remove('shown');"><i data-feather="x"></i></div>
	
	<textarea></textarea>
	<div class="preview"></div>
	
</div>
