@import "base.less";

// Layout

@url_foreground: @white;

@menu_width: 85px;
@menu_radius: @radius;
@menu_spacing: 10px;
@menu_background: @blue;

@menu_items_radius: @radius;
@menu_items_padding: 10px;
@menu_items_spacing: 20px;
@menu_items_foreground: @black;
@menu_items_background: @white;

@app_body_spacing: 20px;
@app_body_foreground: @white;
@app_body_background: @blue;

@panel_border: 2px solid @white;
@panel_radius: @radius;
@panel_spacing: 20px;

// Components

@text_input_radius: @radius;
@text_input_spacing: 10px 17px;
@text_input_foreground: @black;
@text_input_background: @white;

@button_radius: @radius;
@button_spacing: 10px 17px;
@button_foreground: @black;
@button_background: @white;

@select_radius: @radius;
@select_spacing: 10px 17px;
@select_foreground: @black;
@select_background: @white;

@editor_block_radius: @radius;
@editor_block_spacing: 25px;
@editor_block_foreground: @black;
@editor_block_background: @white;

@editor_controls_radius: @radius;
@editor_controls_border: 1px solid @white;
@editor_controls_spacing: 7px 7px 3px 7px;
@editor_controls_foreground: @black;
@editor_controls_background: @white;
@editor_controls_hover_foreground: @white;
@editor_controls_hover_background: @black;

@editor_controls_dropdown_radius: @radius;
@editor_controls_dropdown_spacing: 40px 0px 0px 0px;
@editor_controls_dropdown_foreground: @black;
@editor_controls_dropdown_background: @white;

@editor_controls_dropdown_items_spacing: 10px 17px;
@editor_controls_dropdown_items_foreground: @black;
@editor_controls_dropdown_items_background: @white;

@editor_add_border: 1px solid @white;
@editor_add_spacing: 10px 0px 0px 0px;
@editor_add_foreground: @white;
@editor_add_background: transparent;
@editor_add_hover_foreground: @white;
@editor_add_hover_background: @black;

@import "../less/app.less";
